*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
html, body, main { height: 100%; }
/**************************************************
                       HEADER
****************************************************/
header{
    background-image: url('img/header1.png');
    background-size: auto;
    /*background-color: rgba(255, 183, 37, 1);*/
    color: beige;
    font-family: 'Open Sans', sans-serif;
    /*height: 12em;*/
}

h1{
    padding-top:0.75em;
    padding-bottom:0.5em;
    text-align: center;
    opacity: 0.75;
}
nav{
    width:60%;
    margin: 0 auto;
    text-align: center;
}
nav div {

    background-color: rgba(255, 150, 52, 1);
    height: 2em;
    line-height: 2em;
    margin: 0.5em;
    opacity: 0.65;
}
nav a{
    text-decoration: none;
    color: beige;
}
nav div:hover{
    background-color: aliceblue;
    color: rgba(255, 150, 52, 1);
}
nav div:active{
    background-color: yellow;
}
.line{
    background-color: rgba(255, 150, 52, 1);
    height: 0.75em;
    margin-top: 1em;
    opacity: 0.8;
}
/****************************************************
                    MAIN
****************************************************/
main {
    background-color: beige;
    padding: 2em 1em;


}
main h2 {
    margin-bottom: 0.75em;
}

main p {
    font-size: 0.9em;
}

/*****************************************************
                    FOOT
******************************************************/
footer{
    background-color: rgba(255, 183, 37, 1);
    color: antiquewhite;
    height: 2.5em;
    opacity:0.8;
}
footer p {
    text-align: center;
    font-style: italic;
    font-size: .75em;
    line-height: 2em
}

/*******************************************************
                MEDIA QUERIES
********************************************************/

@media (min-width: 600px) {
    h1 {
        font-size: 1.8em;
        margin-bottom: 0.75em;
    }

    nav {
        width: 100%
    }

    nav div {
        display: inline;
        padding: 0.5em 2em;
        height: 0.5em;
        line-height: 1em;
        margin-left: 2em;
        margin-right: 2em;
    }

    main {
        margin: 0 3em;
    }

    .line {
        background-color: rgba(255, 150, 52, 1);
        height: 0.75em;
        margin-top: 0.5em;
    }
}

