*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
html, body{ height: 100%; }
/**************************************************
                       HEADER
****************************************************/
header{
    background-color: rgba(255, 183, 37, 1);
    color: beige;
    font-family: 'Open Sans', sans-serif;
}
header h1 {
    text-align: center;
    margin-bottom: 0.5em;
    font-size: 5em;
}
header li div{
    text-align: center;
    background-color: #ff7d28;
    width: 80%;
    margin: 0 auto;
    list-style-type: none;
    margin-bottom: 0.75em;
    line-height: 3em;
    height: 3em;
    font-size: 3em
}

header li a {
    text-decoration: none;
    color: beige;
}
header li div:hover{
    background-color: rgba(255, 224, 61, 1);
    cursor: pointer;
}
.line{
    height: 2em;
    background-color: #ff7d28;
}
/****************************************************
                    MAIN
****************************************************/
main {
    background-color: beige;
    padding: 5em;

}
main h2 {
    margin-bottom: 1.5em;
    font-size: 3em;
}

main p {
    font-size: 2.5em;
}

/*****************************************************
                    FOOT
******************************************************/
footer{
    background-color: rgba(255, 183, 37, 1);
    color: antiquewhite;
    height: 8em;
}
footer p {
    text-align: center;
    font-style: italic;
    font-size: 2.75em;
    line-height: 2em
}